<!--Views/Login/Index.cshtml -->
@model Inmobiliaria25.Models.LoginViewModel
@{
  Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="form-control w-50 mx-auto login-container">
  <form asp-action="Autenticacion" method="post">
    @if (ViewBag.Error != null)
    {
      <p style="color:red">@ViewBag.Error</p>
    }

    <div class="mb-3">
      <label asp-for="Email" class="form-label"></label>
      <input asp-for="Email" class="form-control" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label asp-for="Password" class="form-label"></label>
      <input asp-for="Password" type="password" class="form-control" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-around">
      <button type="submit" class="btn btn-success">Ingresar</button>
    </div>
  </form>
</div>
@section Scripts {
  <script>
    // añade clase al body para usar el fondo solo en esta página
    document.body.classList.add('login-background');
  </script>
}
